version: '3'
services:
  fermentrack:
    image: mpse2/fermentrack-docker
    build: ./fermentrack
    container_name: fermentrack
    restart: always
    # Uncomment the next line if bluetooth support is going to be used.
    #network_mode: "host"
    # Uncomment this next line if bluetooth support and firmware flashing is used.
    #privileged: true
    # portmapping is ignored when network_mode = host
    ports:
      - "81:8080"
    volumes:
        - ./volumes/db:/home/fermentrack/fermentrack/db
        - ./volumes/data:/home/fermentrack/fermentrack/data
        - ./volumes/log:/home/fermentrack/fermentrack/log
        - /dev:/dev
    #healthcheck:
    #    # Given that we don't have a pidfile we can check for circusd, nor pgrep,
    #    # we can use pidof to ensure python is running at least
    #    test: ["CMD-SHELL", "pidof python"]
    #    interval: 60s
    #    timeout: 10s
    #    retries: 3
