version: '3'
services:
  fermentrack:
    image: fermentrack-docker
    build: ./fermentrack
    container_name: fermentrack
    restart: always
    # Uncomment the next line if bluetooth support is going to be used.
    #network_mode: "host"
    # Uncomment this next line if bluetooth support and firmware flashing is used.
    #privileged: true
    # portmapping is ignored when network_mode = host
    ports:
      - "81:8080"
    volumes:
        - ./volumes/db:/home/fermentrack/fermentrack/db
        - ./volumes/data:/home/fermentrack/fermentrack/data
        - ./volumes/log:/home/fermentrack/fermentrack/log
        - /dev:/dev
