name: push

on:
  push:
    branches: dev
    
jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Prepare
        id: prep
        run: |
          DOCKER_IMAGE=mpse2/fermentrack-docker
          VERSION=dev

          # Set output parameters.
          echo ::set-output name=docker_image::${DOCKER_IMAGE}
        
          echo $GITHUB_REF, $VERSION
    
      - name: Set up QEMU
        uses: docker/setup-qemu-action@master
        with:
          platforms: all

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@master
        
      - name: Login to DockerHub
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build
        uses: docker/build-push-action@v2
        with:
          builder: ${{ steps.buildx.outputs.name }}
          context: ./fermentrack
          file: ./fermentrack/Dockerfile
#         platforms: linux/386,linux/arm/v7,linux/amd64
          platforms: linux/arm, linux/adm64
          push: false
          tags: ${{ steps.prep.outputs.tags }}
